<div class="row">
  <h2 class="row">New Palettes</h2>
</div>

<div class="row">
  <hue-filter selected-hues="hues" class="center-block text-center"></hue-filter>
</div>
<pagination pagination-collection="newPalettes" next-page="getOlder()" previous-page="getNewer()" next-text="older" previous-text="newer" offset="offset"></pagination>
<palette ng-repeat="palette in newPalettes" class="row"></palette>
<pagination pagination-collection="newPalettes" next-page="getOlder()" previous-page="getNewer()" next-text="older" previous-text="newer" offset="offset"></pagination>
